$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$main-color:#a18d79;
$button-color-hover:#92806f;

$grey-gradient: linear-gradient(45deg, rgba(114, 112, 112, 0.83), rgba(0, 0, 0, 0.83));
$brown-gradient-solid: linear-gradient(180deg, #9c8977, #4b42389f);
$brown-gradient: linear-gradient(45deg, #bfa8932b, #ffffff00);