$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$main-color:#a18d79;
$button-color-hover:#92806f46;

$grey-gradient: linear-gradient(45deg, rgba(0, 0, 0, 0.525), rgb(0, 0, 0));
$brown-gradient-solid: linear-gradient(180deg, #9c8977, #4b42389f);
$brown-gradient: linear-gradient(45deg, #bfa8932b, #ffffff00);
$grey-gradient-solid: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0));